section#contact {
    margin-top: 10vh;
}

section#contact>:first-child {
    font-size: 2vw;
    margin-left: 2.8vw;
}

.icon-container {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    width: 100%;
    margin: 2vw 2.8vw;
}

.icon {
    width: 1.8vw;
    height: 1.8vw;
    padding: 0.5em;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 4px;
}

.icon:hover {
    border: 1px solid rgb(255, 116, 178);
}
