section#projects {
    margin: 10vh 0;
    font-size: 2vw;
}

section#projects>:first-child {
    margin-left: 2.8vw;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#nooknet,
#tumblr {
    max-width: 45%;
    border: 1px solid rgb(201, 201, 201);
}

#nooknet img,
#tumblr img {
    max-width: 100%;
}

.button-container {
    border-top: 1px solid rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    padding: 15px;
}

.button-container button:hover {
    color: white;
    background-color: black;
}

#nooknet button,
#tumblr button {
    border: none;
    padding: 1.5vh 3vh;
}

.name {
    font-weight: bold;
    color: black;
    padding: 0 2.5vw;
}

.description {
    padding: 0 2.5vw;
    font-size: 0.8em;
    height: 30%;
}
