.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 20px;
}

.login-modal h1 {
    text-align: center;
    margin-top: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

input {
    width: 250px;
    padding: 5px;
    margin-top: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 260px;
    background: rgb(60, 56, 56);
    color: rgb(252, 96, 96);
    font-size: 1.1em;
    list-style-type: none;
    border-radius: 3px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

.errors {
    color: rgb(252, 96, 96);
    padding: 5px;
}

.login-modal a {
    margin: 15px;
}
